<div class="x flex-col justify-between min-h-screen overflow-hidden">

    <app-navbar></app-navbar>

    <main class="mt-10 grow">


        <ng-container *ngIf="marsPhotos.length > 0">
            <li class="container" *ngFor="let photosMars of marsPhotos">
                <app-list-images-item [photosMars]="photosMars"></app-list-images-item>
            </li>
        </ng-container>


        <router-outlet></router-outlet>

    </main>

    <footer>
        <app-footer></app-footer>
    </footer>

</div>
