<!--<p>footer works!</p> -->

<footer class="flex-grow md:inline bg-gray-100 text-3xl text-black text-center border-t-2 border-red-200 relative inset-x-0 bottom-0 p-4">
  <ul class="flex justify-center text-lg md:text-xl">
    <li class="mx-4"><a class="text-center hover:bg-red-200 rounded-lg px-3 py-1"routerLink="/home">Home</a></li>
    <li class="mx-4"><a class="text-center hover:bg-red-200 rounded-lg px-3 py-1" routerLink="/photo">Photo du jour</a></li>
    <li class="mx-4"><a class="text-center hover:bg-red-200 rounded-lg px-3 py-1" routerLink="/galerie">Galerie</a></li>
    <li class="mx-4"><a class="text-center hover:bg-red-200 rounded-lg px-3 py-1" routerLink="/contact">Contact</a></li>
  </ul>
</footer>
